body{
	margin: 0;
	overflow: hidden;
	font-family: Helvetica;
	color: #ddd;
}

#header{
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: absolute;
	text-align: center;
}

#visualizer{
	margin: 0;
	overflow: hidden; 
	z-index:1;
}

#sidebar{
	z-index:999; 
	position:absolute;
	right: 0;
	top: 30%;
}

h1, h2, h3, h4, h5, h6{
}
