body{
	margin: 0;
	overflow: hidden;
}

#visualizer{
	margin: 0;
	overflow: hidden; 
	z-index:1;
}

#sidebar{
	z-index:999; 
	position:absolute;
}

#range{
	-webkit-appearance: slider-vertical; 
	width: 20px; 
	height: 100px;
}
