body{
	margin: 0;
	overflow: hidden;
}

#visualizer{
	margin: 0;
	overflow: hidden; 
	z-index:1;
}

#sidebar{
	z-index:999; 
	position:absolute;
	right: 0;
	top: 30%;
}

h5{
	color: #ddd;
	font-family: Helvetica;
}
